@use './variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-base;

  h1 {
    cursor: pointer;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  max-width: 800px;
  overflow: hidden;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: $spacing-base;
  padding: $spacing-base;
  flex-grow: 1;
  overflow: scroll;
  margin: 0 auto;
  width: 100%;
}

.message {
  padding: 0 $spacing-base;
  border-radius: $border-radius;
  max-width: 80%;

  img {
    margin-bottom: $spacing-base;
    display: block;
    max-width: 100%;
    border-radius: $border-radius;
  }

  &.user {
    background-color: var(--color-message-user);
    align-self: flex-end;
  }

  &.assistant {
    background-color: var(--color-message-assistant);
    align-self: flex-start;
  }
}

.input-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-small;
  padding: $spacing-base;
  position: relative;
  margin-top: $spacing-large;

  input {
    width: 100%;
    border: $border-width solid var(--color-border);
    flex-grow: 1;
    flex-basis: 100%;
  }

  select {
    border: $border-width solid var(--color-border);
    border-radius: $border-radius;
    background-color: var(--color-bg);
    cursor: pointer;
  }

  .button {
    padding: $spacing-small $spacing-base;
    border: $border-width solid var(--color-border);
    border-radius: $border-radius;
    background-color: var(--color-bg);
    cursor: pointer;
    flex-grow: 1;

    &:hover {
      background-color: var(--color-button-bg);
    }

    &:disabled {
      background-color: var(--color-button-bg);
      cursor: not-allowed;
    }
  }

  @media (min-width: 600px) {
    .button {
      flex-grow: 0;
    }
  }

  .clear-conversation {
    cursor: pointer;
    position: absolute;
    top: -$spacing-base;
    left: $spacing-base;

    span {
      font-size: $font-size-small;
    }
  }
}

.loading-indicator {
  display: flex;
  gap: 4px;
  padding: $spacing-base 0;
  width: fit-content;
  align-items: center;
}

.loading-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-border);
  animation: bounce 1.4s infinite ease-in-out;

  &:nth-child(1) {
    animation-delay: -0.32s;
  }

  &:nth-child(2) {
    animation-delay: -0.16s;
  }
}

.input-container {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: center;
  gap: $spacing-small;

  input {
    padding-right: 2.25em;
  }

  @media (min-width: $tablet) {
    font-size: $font-size-large;
  }
}

.image-preview {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: $spacing-small;
  padding: $spacing-small;
  border-radius: $border-radius;
  display: flex;
  align-items: flex-start;
  background-color: var(--color-button-bg);
  gap: $spacing-small;

  img {
    max-height: 100px;
    border-radius: $border-radius;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 0.4em;
    font-size: 0.8em;
  }
}

.upload-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: $spacing-small;
}

.mermaid {
  padding: 1em 0;
  width: 70vw;
  max-width: 100%;
  padding: $spacing-base 0;

  svg {
    max-width: 100%;
    height: auto;
  }
}

.mermaid-chart {
  background-color: $color-light;
  padding: $spacing-base;
  border-radius: $border-radius;
  margin: $spacing-base 0;
  overflow-x: auto;

  svg {
    max-width: 100%;
    height: auto;
  }
}
