@use './variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-base;

  h1 {
    cursor: pointer;
  }

  .header-right {
    display: flex;
    gap: $spacing-base;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  max-width: 800px;
  overflow: hidden;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: $spacing-base;
  padding: $spacing-base;
  flex-grow: 1;
  overflow: scroll;
  margin: 0 auto;
  width: 100%;
}

.message {
  padding: 0 $spacing-base;
  border-radius: $border-radius;
  max-width: 80%;
  overflow: hidden;
  flex-shrink: 0;

  img {
    margin-bottom: $spacing-base;
    display: block;
    max-width: 100%;
    border-radius: $border-radius;
  }

  &.user {
    background-color: var(--color-message-user);
    align-self: flex-end;
  }

  &.assistant {
    background-color: var(--color-message-assistant);
    align-self: flex-start;
  }

  details {
    margin-bottom: $spacing-base;
    border: $border-width solid var(--color-border);
    border-radius: $border-radius;
    padding: calc($spacing-base / 2);
    overflow: scroll;

    summary {
      cursor: pointer;
    }
  }
}

.input-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-small;
  padding: $spacing-base;
  position: relative;
  margin-top: $spacing-large;

  .input-container {
    position: relative;
    flex-grow: 1;

    input {
      width: 100%;
      border: $border-width solid var(--color-border);
    }
  }

  select {
    border: $border-width solid var(--color-border);
    border-radius: $border-radius;
    background-color: var(--color-bg);
    cursor: pointer;
    flex-grow: 1;

    @media (min-width: $mobile) {
      flex-shrink: 1;
      flex-grow: 0;
    }
  }

  .button {
    padding: $spacing-small $spacing-base;
    border: $border-width solid var(--color-border);
    border-radius: $border-radius;
    background-color: var(--color-bg);
    cursor: pointer;
    flex-grow: 1;

    &:hover {
      background-color: var(--color-button-bg);
    }

    &:disabled {
      background-color: var(--color-button-bg);
      cursor: not-allowed;
    }
  }

  @media (min-width: $tablet) {
    .button {
      flex-grow: 0;
    }
  }

  .chat-form-toolbar {
    position: absolute;
    top: -$spacing-base * 2;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-small;

    @media (min-width: $tablet) {
      top: -$spacing-base * 1.7;
    }

    .clear-conversation {
      cursor: pointer;

      span {
        font-size: $font-size-small;
      }
    }

    .save-load-conversation {
      button {
        padding: 0;
        border-radius: 5px;
      }
    }
  }
}

.loading-indicator {
  display: flex;
  gap: 4px;
  padding: $spacing-base 0;
  width: fit-content;
  align-items: center;
  height: 56px;
}

.loading-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-border);
  animation: bounce 1.4s infinite ease-in-out;

  &:nth-child(1) {
    animation-delay: -0.32s;
  }

  &:nth-child(2) {
    animation-delay: -0.16s;
  }
}

.input-container {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: center;
  gap: $spacing-small;

  input {
    padding-right: 2.25em;
  }

  @media (min-width: $tablet) {
    font-size: $font-size-large;
  }
}

.image-preview {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: $spacing-small;
  padding: $spacing-small;
  border-radius: $border-radius;
  display: flex;
  align-items: flex-start;
  background-color: var(--color-button-bg);
  gap: $spacing-small;

  img {
    max-height: 100px;
    border-radius: $border-radius;
  }

  .button {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 2px 5px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 50%;

    &:hover {
      background-color: var(--color-button-bg);
    }
  }
}

.upload-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: $spacing-small;
}

.mermaid {
  padding: 1em 0;
  width: 70vw;
  max-width: 100%;
  padding: $spacing-base 0;

  svg {
    max-width: 100%;
    height: auto;
    background-color: $color-light;
  }
}

.mermaid-chart {
  background-color: $color-light;
  padding: $spacing-base;
  border-radius: $border-radius;
  margin: $spacing-base 0;
  overflow-x: auto;

  svg {
    max-width: 100%;
    height: auto;
  }
}

.theme-toggle,
.save-load-conversation.big button {
  font-size: $font-size-x-large;
  text-shadow: 0 0 10px $color-light;
  padding: 0;
  border-radius: 50%;
  line-height: 1;
}

.save-load-conversation {
  display: flex;
  align-items: center;
  gap: $spacing-small;

  button {
    cursor: pointer;
    font-style: normal;
    border-radius: 8px !important;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
