@use './variables' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

a {
  font-weight: $font-weight-bold;
  color: var(--link-color);
  text-decoration: inherit;

  &:hover {
    color: var(--link-color-hover);
  }
}

button,
input,
select {
  border-radius: $border-radius;
  border: $border-width solid transparent;
  padding: $spacing-small;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  font-family: inherit;
  background-color: $color-darker;
  cursor: pointer;
  transition: border-color $transition-speed;
}

button {
  &:hover {
    border-color: $color-primary;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

input {
  cursor: inherit;
}
